{{ define "main" }}
<form method="POST" action="/user/login">
  <div>
    <label for="email">Email:</label>
    {{ with .Form.FieldErrors.email }}
        <label class="error"> {{ . }} </label>
    {{ end }}
    <input type="text" name="email" id="emailInput" value="{{ .Form.Email }}" />
  </div>
  <div>
    <label for="password">Password:</label>
    {{ with .Form.FieldErrors.password }}
      <label class="error">{{ . }}</label>
    {{ end }}
    <input type="password" name="password" id="password" />
  </div>
  <button>Login</button>
</form>
{{ end }}
